// Define up some good-lookin' beziers
$md-bezier-ease-out-expo: cubic-bezier(.190, 1, .220, 1);
$md-bezier-ease-in-expo: cubic-bezier(.950, .050, .795, .035);
$md-bezier-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
